.setting-screen__header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.setting-screen__header-column {
  margin: 0px 25px;
  font-size: 24px;
  font-weight: 550;
}
.setting-screen__header-column > i {
  color: rgba(66, 66, 66, 1);
}
.setting-main {
  margin: 0px 25px;
  margin-top: 15px;
}
.setting-square {
  border-bottom: var(--border);
  padding: 10px 1px;
}
.setting-list {
  padding: 20px 3px;
  display: flex;
  justify-content: space-between;
}
.setting-list-element :nth-child(1) {
  font-size: 22px;
}

.setting-list-element :nth-child(2) {
  font-size: 22px;
  font-weight: 370;
  margin-left: 7px;
}
.setting-list-side span {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.setting-list__line {
  margin: 0px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
